<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
<ion-grid fixed>

    <!-- here are settings-->
    <ion-row>
        <ion-col size="12"></ion-col>
    </ion-row>


    <ion-row>
        <ion-col size="6">
            <ion-list>
                <ion-item>
                    <ion-label>Sample label</ion-label>
                </ion-item>
            </ion-list>



        </ion-col>
        <ion-col size="6"></ion-col>
    </ion-row>
</ion-grid>




</ion-content>
