<ion-header>
  <ion-toolbar>
    <ion-title size="small">Miscellaneous settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-label position="floating"> Account type</ion-label>
            <ion-select (ionChange)="accountChanged()"
            [(ngModel)]="selectedAccount">
              <ion-select-option
                [value] = "account"
                *ngFor="let account of tinkoffAccounts"
                >{{account.brokerAccountType}}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Update interval</ion-label>
            <ion-select
              (ionChange)="updateIntervalChanged()"
              [(ngModel)]="selectedUpdateInterval">
            >
              <ion-select-option
                [value]="interval"
                *ngFor="let interval of updateIntervals"
              >
                {{interval}}
              </ion-select-option>
            </ion-select>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
