<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item button (click)="this.navTinkoff()">
            <ion-icon slot="start" [src]="tinkofficon"></ion-icon>
            <ion-label>
              <h3>Tinkoff Configuration</h3>
            </ion-label>
          </ion-item>
          <ion-item button (click)="this.navBinance()">
            <ion-icon slot="start" [src]="binanceicon"></ion-icon>
            <ion-label>
              <h3>Binance Configuration</h3>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
