<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Ticker</ion-label>
            <ion-input type="text" placeholder="Enter ticker" [(ngModel)]="ticker"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Operation</ion-label>
            <ion-select [(ngModel)]="operation" multiple="false" placeholder="Select operation">
              <ion-select-option [value]="Buy">Buy</ion-select-option>
              <ion-select-option [value]="Sell">Sell</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Quantity</ion-label>
            <ion-input type="number" placeholder="Number of lots" [(ngModel)]="lots"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Price</ion-label>
            <ion-input type="number" placeholder="Desired price"[(ngModel)]="price"></ion-input>
          </ion-item>
          <ion-item button (click)="placeOrder()">
            <ion-label>Place Order</ion-label>
          </ion-item>
        </ion-list>
        <ion-item-group>
          <ion-item-divider>
            <ion-label>Quick Access</ion-label>
          </ion-item-divider>
          <ion-item button [routerLink]="['/orderlist']">
            <ion-label>Order List</ion-label>
          </ion-item>
          <ion-item button [routerLink]="['/portfolio-template']">
            <ion-label>Portfolio</ion-label>
          </ion-item>
        </ion-item-group>
      </ion-col>

    </ion-row>
  </ion-grid>
  

</ion-content>
