<ion-header>
  <ion-toolbar>
    <ion-title size="small">Smart screener</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="toggleSettings()">
          <ion-icon name="aperture-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-list *ngIf="showSettings">
          <ion-item>
            <ion-label position="floating">Select Instruments</ion-label>
            <ion-select [(ngModel)]="selectedInstrument" multiple="false" (ionChange)="instrumentsChanged()"
              placeholder="Stocks,bonds,etfs">
              <ion-select-option value="stocks">Stocks</ion-select-option>
              <ion-select-option value="bonds">Bonds</ion-select-option>
              <ion-select-option value="etfs">ETFs</ion-select-option>
              <ion-select-option value="currencies">Currencies</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Current percentage</ion-label>
            <ion-input [(ngModel)]="currentPercentage" type="number" placeholder="Enter change percentage"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Scan interval</ion-label>
            <ion-select [(ngModel)]="currentTimeFrame" multiple="false" placeholder="Select market">
              <ion-select-option value="10m">10 minutes</ion-select-option>
              <ion-select-option value="15m">15 minutes</ion-select-option>
              <ion-select-option value="20m">20 minutes</ion-select-option>
              <ion-select-option value="30m">30 minutes</ion-select-option>
              <ion-select-option value="60m">1 hour</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item button (click)="search()">
            <ion-label>Search</ion-label>
          </ion-item>
          <ion-item button (click)="stop()">
            <ion-label>Stop</ion-label>
          </ion-item>
          <ion-progress-bar [value]="progress"></ion-progress-bar>
          <!-- <ion-item>
            <ion-searchbar showcancelbutton="" (ionInput)="filterList($event)"></ion-searchbar>

          </ion-item> -->


        </ion-list>
        <ion-item-group>
          <ion-item-divider>
            <ion-label>Volatile assets</ion-label>
          </ion-item-divider>

          <ion-item *ngFor='let mi of filteredList'>
            <ion-label>mi.ticker </ion-label>
            <ion-label>mi.message </ion-label>
          </ion-item>
      
        </ion-item-group>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>