<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-back-button></ion-back-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="assets/dollar.jpg">
  <div id="textContainer">
    <ion-textarea style="text-align:justify;margin-left:5pt;margin-right: 5pt;max-width: fit-content;">Welcome to
      Stockhelper. In this
      application you can
      trace all desired
      stock changes on
      Saint-Petersburg
      and Moscow stock exchange.</ion-textarea>
    <ion-textarea style="text-align:justify;margin-left:5pt;margin-right: 5pt;max-width: fit-content;">Go to menu by
      pressing menu button on the right hand side. Press settings and specify you trading token token
    </ion-textarea>
  </div>
</ion-content>
