<ion-header>
  <ion-toolbar>
    <ion-title size="small">Stockhelper</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item [routerLink]="['/dashboard']">
            <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
            <ion-label>Watch List</ion-label>
          </ion-item>
          <ion-item [routerLink]="['/smart-screener']">
            <ion-icon name="pie-chart-outline" slot="start"> </ion-icon>
            <ion-label>Smart screener</ion-label>
          </ion-item>
          <ion-item [routerLink]="['/limited-order']">
            <ion-icon name="pricetag-outline" slot="start"></ion-icon>
            <ion-label>Limited order</ion-label>
          </ion-item>
          <ion-item [routerLink]="['/configuration']">
            <ion-icon name="settings-outline" slot="start"></ion-icon>
            <ion-label>Configuration</ion-label>
          </ion-item>
          <ion-item [routerLink]="['/about']">
            <ion-icon name="information-circle-outline" slot="start"></ion-icon>
            <ion-label>About</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
