<ion-header>
  <ion-toolbar>
    <ion-title>orderlist</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-grid fixed>
   <ion-row>
     <ion-col   size="12">
        <ion-list>
         <ion-item button *ngFor = "let order of orderlist">
           <ion-label>{{order.ticker}} -{{(order.requestedLots+order.executedLots)*order.price}}</ion-label>
         </ion-item> 
        </ion-list>   
     </ion-col>

   </ion-row>
 </ion-grid>
</ion-content>
