<ion-header>
  <ion-toolbar>
    <ion-title size="small">Limited order</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item button [routerLink]="['/order-template']">
            <ion-label>New order</ion-label>
          </ion-item>
          <ion-item button [routerLink]="['/orderlist']">
            <ion-label>Order list</ion-label>
          </ion-item>
          <ion-item button [routerLink]="['/portfolio-template']">
            <ion-label>Portfolio</ion-label>
          </ion-item>
        </ion-list>


      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>