<ion-header>
  <ion-toolbar>
    <ion-title size="small">Tinkoff account settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Plese enter token</ion-label>
            <ion-input type="password" [(ngModel)]="token"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Please repeat token</ion-label>
            <ion-input type="password" [(ngModel)]="tokenRepeat"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Use sandbox</ion-label>
            <ion-checkbox
              [(ngModel)]="useSandbox"
              slot="start"
              (ionChange) = "useSandboxClicked()"
              
            ></ion-checkbox>
          </ion-item>
          <ion-item >
            <ion-button size = "medium" (click)="validateToken(true)" slot ="start">
              <ion-icon slot="icon-only" name="bag-check-outline"></ion-icon>
            </ion-button>
            <ion-button size = "medium" (click)="saveToken()" slot="end">
              <ion-icon slot="icon-only" name="save"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item [disabled]="!miscActive" [routerLink]="['/misc',token]">
            <ion-icon name="list-circle-outline"></ion-icon>
            <ion-label>
              <h3>Other settings</h3>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
