<ion-header>
  <ion-toolbar>
    <ion-title size="small">{{title}}</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-border;ion-no-margin">
  <ion-grid>
    <ion-item-group>
      <ion-row>
        <ion-col size="12">
          <ion-item-divider>
            <ion-label>
              <h4>Assets</h4>
            </ion-label>
          </ion-item-divider>
        </ion-col>
      </ion-row>
      <div id="scrollableList" scrollY="true" *ngIf="assets&&(assets.length>0)">
        <ion-row *ngFor="let asset of assets" >
          <ion-col size="4" class="ion-no-border;ion-no-margin" class="ion-no-border;ion-no-margin">
            <ion-item lines="none">
              <ion-label>
                <h6>{{asset.ticker}}</h6>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="4" >
            <ion-item lines="none">
              <ion-label><h6>{{asset.lots}}</h6></ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="4" class="ion-no-border;ion-no-margin">
            <ion-item lines="none">
              <ion-label><h6>{{asset.balance}}</h6></ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
    </ion-item-group>
    <ion-item-group>
      <ion-row>
        <ion-col size="12">
          <ion-item-divider>
            <ion-label>
              <h4>Currencies</h4>
            </ion-label>
          </ion-item-divider>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let currency of currencies">
        <ion-col size="6">
          <ion-item>
            <!-- <ion-label size="small">{{currency.balance}} {{currency.currency}}</ion-label> -->
            <ion-label>
              <h6>{{currency.currency}}</h6>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label>
              <h6>{{currency.balance}}</h6>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-item-group>
    <ion-item-group *ngIf=useSandbox>
      <ion-item-divider>
       <ion-label> <h4>Sandbox Items</h4></ion-label>
      </ion-item-divider>
      <ion-item button (click)="eraseAllStockItems()">
        <ion-label>Clear Assets</ion-label>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider class="ion-align-items-center">
       <ion-label> <h4>Quick access</h4></ion-label>
      </ion-item-divider>
      <ion-item button [routerLink]="['/order-template']">
        <ion-label>Limited order</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-grid>


</ion-content>